{% extends 'signup/base.html' %}
{% load static %}

{% block title %}Event Signups - SignupApp{% endblock %}

{% block extra_js %}
<script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mb-6">
    <h2 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-2">Upcoming events</h2>
</div>

{% for event in events %}
    {% include 'signup/event_card2.html' with event=event %}
{% empty %}
    <div class="bg-white p-6 rounded-lg shadow border text-center">
        <p class="text-gray-500">No events available.</p>
    </div>
{% endfor %}
{% endblock %}